<div class = 'container'>
   <h1>Add recipe</h1>

   <form (ngSubmit)='onSubmit()'>

      <div class = 'form-group' [formGroup]='search'>
         <label for = 'name'>Naam:</label>
         <input type = 'text' formControlName='name'>
         <br/>
         <label for = 'calories'>Caloriën:</label>
         <input type = 'number' formControlName='calories'>
         <br/>
         <label for = 'ingredients'>Ingedriënten:</label>
         <input type = 'text' formControlName='ingredients'>
         <br/>
         <label for = 'time'>Benodigde Tijd:</label>
         <input type = 'text' formControlName='time'>
      </div>
      <br />
      <button type='submit' class='btn btn-success'>Submit</button>

   </form>

</div>
